@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s;
}

html
{
  font-size: 10px;
}

body
{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--base);
  color: var(--base-textColor);
}

p
{
  color: var(--primary-light);
  font-size: 1.6rem;
  line-height: 1.5;
}

img
{
  width: 100%;
}